@import '../../../scss/index.scss';

.product-container {
    //test
    //border: 1px solid black;

    color:$defaultDarkColorFont;
    background-color: $defaultLightColorFont;
    
    height: auto;
    width: 300px;

    padding: 15px;
    margin: 10px;

    display: flex;
    flex-direction: column;

    border-radius: 5%;

    &__img {
        img {
            min-width: 260px;
            height: 250px;
            border-radius: 3%;
            margin-bottom: 20px;
        }

        &__heart {
            border-style: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &__price {
            color: $backgroundColor;
            font-size: $mediumFontSize;
        }

        &__stock{
            &_out {
                color: $defaultDangerColorFont;
                font-size: $mediumFontSize;
            }
        }
    }
    &__add {
        img {
            width: 30px;
            height: 30px;;
        }
    }
}