@import '../../scss/index.scss';
.product-container {

    margin: 10px 10px 20px 10px;
    width: 300px;
    height: 330px;

    
    &_cardContent {
        .name{
            font-size: 17px;
            margin: 0;
        }
    }

    &_cardAction {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}