@import '../../scss/index.scss';
.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

    width: 350px;
    height: 600px;

    box-shadow: none !important;
    &_cardMedia{
        max-width: 100%;
        height: auto;
        
    }
    
    &_cardContent {
        height: 50px;
    }

    &_cardAction {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}