@import '../../../scss/index.scss';

.favorites {
    height: auto;
    width: 100%;
    position: absolute;
    background-color: $backgroundColor;

    
    text-align: center;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 25px 0 50px 0;
        align-items: center;
        color:$defaultLightColorFont;
        hr {
            border: 0;
            width: 50%;
            height: 2px;
            background-image: linear-gradient(to right, transparent, #CCC, transparent); 
        }
    }

    &__list {
        
        margin: 0 auto;
        width: 1100px;
        padding-left: 10px;
        
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
    }
}