@use '../../scss/modules';
@import '../../scss/index.scss';

.cartBanner-container {
    width: 600px;
    max-width: 700px;
    height: 400px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_cardContent {
        display: flex;
        flex-direction: column;
        &_name {
            width: auto;
        }
        &_price {
            font-size: $bigFontSize;
            font-weight: bold;
        }
    }
    
}