@import '../../scss/index.scss';

.main-page {
    background-color: $backgroundColor;
    height: 100%;
    width: 100%;
    position: absolute;
    

    top: 0;
    left: 0;
    
    text-align: center;
    color:$defaultLightColorFont;

    &__title {
        margin-top: 25px;
        font-size:$bigFontSize;
    }
    &__subtitle {
        font-size:$smallFontSize;
    }

    &__button {
            &_store{
                color: #000000;
                text-decoration: none;
            }; 
    }
}
