@import '../../scss/index.scss';


.container {
    min-width: 100%;
    height: 65px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__name{
        display: flex;
        flex-direction: row;

        img {
            margin-top: 5px;
            width:50px;
            height: 50px;
        }
        h2 {
            margin-top: 10px;
        }
    }

    &__links {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            padding: 0%;
            .nav-link {
                text-decoration: none;
                color: $defaultDarkColorFont;
                padding: 0 0 0 25px;
                img {
                    height: 30px;
                }
            }
            .favs, .cart {
                margin-top: 20px;
                margin-right: 5px;
                &_counter {
                    
                    height: 28px;
                    width: 28px;
                    background-color: $defaultAlertColor;
                    border-radius: 50%;
                    display: block;
                    &__data {
                        color: $defaultLightColorFont;
                        margin-left: 7px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}