@import '../../scss/index.scss';


.products {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 100%;
    position: absolute;
    background-color: $backgroundColor;

    
    text-align: center;
    
    color:$defaultLightColorFont;

    

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 25px 0 50px 0;
        align-items: center;
        hr {
            
            border: 0;
            width: 50%;
            height: 2px;
            background-image: linear-gradient(to right, transparent, #CCC, transparent); 
        }
    }

    &__list {
        // center div
        margin: 0 auto;

        //background-color: white;
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        // display: grid;
        // grid-template-columns: auto auto auto;
        // grid-column-gap: 15px;
        // grid-row-gap: 25px;
    }

    &__pagination {
        margin-top: 50px;
        width: 100%;

        .paginationBttns{

            width: 100%;
            height: 40px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .paginationBttns a {
            padding: 10px;
            margin: 8px;
            border-radius: 5px;
            border: 1px solid $defaultLightColorFont;
            color: $defaultLightColorFont;
            cursor: pointer;
          }
          
          .paginationBttns a:hover {
            color:$backgroundColor;
            background-color:  $defaultLightColorFont;
          }
          
          .paginationActive a {
            color:$backgroundColor;
            background-color:  $defaultLightColorFont;
          }
          
          .paginationDisabled a {
            color: $defaultLightColorFont;
            background-color: $backgroundColor;
          }
    }
}