$backgroundColor:#677988;//#48618b;
$defaultDarkColorFont:#000000;
$defaultLightColorFont:#FFFFFF;
$defaultAlertColor:#f00000;

// loader palette
$rich-black-fogra-29: rgba(0, 8, 20, 1);
$oxford-blue: rgba(0, 29, 61, 1);
$prussian-blue: rgba(0, 53, 102, 1);
$mikado-yellow: rgba(255, 195, 0, 1);
$gold-web-golden: rgba(255, 214, 10, 1);