@import './index.scss';
// Titles style
.products, .product-info, .favorites, .cart-container, .cartBanner-container {
  &_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: 25px 0 25px 0;
    align-items: center;
    //color:$defaultLightColorFont;

    h3 {
      font-size: $bigFontSize;
      text-align: center;
      margin:0 10px 0 10px;
    }
    
  }
  &_buttons {
    button {
        background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
        height: 25px;
        width: 100px;
        border:0px;
        color: $defaultLightColorFont;
    }
}
}

